<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Import styles-->
        <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='Settings→GlobalStyles.css') }}"/>
        <!-- import other things -->
        

        <!-- You don't need to set a title or meta charset or anything -->
        <!-- Just use this space to include scripts/css or  -->
        <!-- anything else that you want to show up on every page -->
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"  media="screen,projection"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    

    </head>
    <body>
        

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js"></script>
    

        <box id="PageBox">
        </box>
        <script>
            Global = 
                {
                    Eval: function (input_){eval(input_)},
                    Box: document.getElementById("PageBox"),
                    Debugging: false,
                    __NumberOfBoxesCreated: 0,
                    __IdsToCheck: new Set([]),
                    WhenAnythingSays : async function(element_id, saying_, action_obj)
                        {
                            console.log(`starting WhenAnythingSays for element with id ${element_id} for the saying "${saying_}"`)
                            Global.__IdsToCheck.add(element_id)
                            var element_attributes = document.getElementById(element_id).attributes
                            // if the element doesn't have a listeners object then add listeners 
                            if (element_attributes.Listeners == null) { element_attributes.Listeners = {} }
                            element_attributes.Listeners[saying_] = action_obj.do
                        },
                }
            TellPage = async function(saying_,data_=null)
                    {
                        console.log(`starting TellPage for ${saying_}`)
                        Global.__IdsToCheck.forEach
                            ((element_id)=>{
                                            // try to run the listener
                                            try 
                                                {
                                                    document.getElementById(element_id).attributes.Listeners[saying_](data_)
                                                    console.log(`the element with id: ${element_id} had a listener`)
                                                }
                                            catch(error)
                                                { 
                                                    // if the element doesn't exist then remove its id from the list 
                                                    // if the element doesn't have any listeners, then remove its id from the list 
                                                    if (!!`${error}`.match(/^TypeError: Cannot read property '(attibutes|Listeners)/g))
                                                        {
                                                            Global.__IdsToCheck.delete(element_id)
                                                        }
                                                // else do nothing
                                                }
                                        })
                    }
            Request  = async function({username=null, password=null, url, path, data=null, method="GET",timeout=10}) 
                {
                    if (Global.Debugging) { console.log("starting Request for ",[url,path,method]) }
                    let request_result = await new Promise
                        (
                            function (resolve, reject) 
                                {
                                    try { Global } catch (ReferenceError) { Global = {} } // SimpleStack specific
                                    let the_request = new XMLHttpRequest()
                                    the_request.onload = function () 
                                        {                       
                                            if (this.status >= 200 && this.status < 300) 
                                                {
                                                    try           { var output_ = JSON.parse(the_request.responseText) }
                                                    catch(error)  { var output_ = the_request.responseText }
                                                    resolve(output_)
                                                } 
                                            else 
                                                {
                                                    reject
                                                        (
                                                            {
                                                                status: this.status,
                                                                statusText: the_request.statusText
                                                            }
                                                        )
                                                }
                                        }
                                    the_request.onerror = function () 
                                        {
                                            reject
                                                (
                                                    {
                                                        status: this.status,
                                                        statusText: the_request.statusText
                                                    }
                                                )
                                        }

                                    if (username!=null)
                                        {
                                            // if there's a url the follow the url
                                            // if there is a path then try to follow the path
                                            // if there isnt a path then try to go to /login
                                                if (url != null)                            { the_request.open(method, url, true) }
                                            else if (path != null && Global.Website != null) { the_request.open(method, Global.Website+path, true)  }
                                            else if (Global.Website != null)                 { the_request.open(method, Global.Website+"/login", true) }
                                            else                                             { console.log("You gave Request() a username and password, but you didn't give a url or path or Global.Website to login to"); return }
                                            // set the header and send it
                                            the_request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8')
                                            the_request.send(JSON.stringify({ username: username, password: password }))
                                        }
                                    else
                                        {
                                            // if there is data, then change the method from GET to POST
                                            if (data != null)
                                                {
                                                    if (method=="GET")
                                                        {
                                                            method = "POST"
                                                        }
                                                }
                                                if (url  != null)                           { the_request.open(method, url, true) }
                                            else if (path != null && Global.Website != null) { the_request.open(method, Global.Website+path, true)  }
                                            else                                             { console.log("You used Request(), but you didn't give a url/path/Global.Website to access"); return }
                                            // if there is data, then include it
                                            if (data != null)
                                                {
                                                    the_request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8')
                                                    the_request.send(JSON.stringify(data))
                                                }
                                            else 
                                                {
                                                    the_request.send()
                                                }
                                        }
                                }
                        )
                    // if it was a login Request, then store the AuthToken in Global for future calls
                    if (request_result.jwt_token != null && username != null && password != null) 
                        { 
                            Global.AuthToken = request_result.jwt_token 
                        }
                    if (Global.Debugging) { console.log("finished Request for ",[url,path,method]) }
                    return request_result
                }

            Run      = async function(function_name,array_of_arguments=[])
                {
                    console.log("starting Run",function_name)
                    return await Request({path:"func/"+function_name, data:{arguments:array_of_arguments}})
                }
            Add      = async function({chunk,to})
                {
                    console.log("starting add for the",chunk," chunk")
                    let js_code = await Request({path:"chunk/"+chunk})
                    // FIXME, check for errors here 
                    return await eval(js_code)(to)
                }
            LoadPage = async function(page_name)
                {
                    let js_code = await Request({path:"page/"+page_name})
                    // FIXME, check for errors here (encase page doesn't exist)
                    // TODO, utilize state for something useful
                    history.pushState({}, page_name, page_name)
                    // delete the existing main_box
                    // FIXME, add a check to see if the main_box exists
                    var main_box = document.getElementById("PageBox")
                    main_box.parentNode.removeChild(main_box)
                    // create a new main_box 
                    console.log(`about to set Global.Box`)
                    Global.Box = document.createElement('div')
                    Global.Box.id = "PageBox"
                    document.body.appendChild(Global.Box)
                    console.log(`Finished making global box`)
                    // run the page with the new main_box 
                    return await eval(js_code)(Global.Box)
                }
            
Global.Debugging = true
Global.Website = "http://localhost:5000/"
var log = console.log
var classof = Function.prototype.call.bind(Object.prototype.toString)
function New(element_name,attributes={}) 
    {
        var output_ = document.createElement(element_name)
        if (element_name=="Button")
            {
                output_.className = "waves-effect waves-light btn"
            }
        // before returning, set the add function, and the attributes
        output_.add = function (...element) 
            {
                output_.appendChild(...element)
            }
        for (var each_key of Object.keys(attributes))
            {
                if (typeof attributes[each_key] == "object" && attributes[each_key] != null )
                    {
                        output_[each_key] = {}
                        for (var each_sub_key of Object.keys(attributes[each_key]))
                            {
                                output_[each_key][each_sub_key] = attributes[each_key][each_sub_key]
                            }
                    }
                else
                    {
                        output_[each_key] = attributes[each_key]
                    }
            }
        
        return output_
    }
class Container extends Node
    {
        constructor()
            {
                this.__underyling_outer_div = New("div")
                this.__underyling_inner_div = New("div", { position:"relative" })
                this.__underyling_outer_div.add(this.__underyling_inner_div)
                this.__container_centering_status = null
            }
        clearMiddle()
            {
                // reset the centering status
                this.__container_centering_status = null
                // delete the sub div, and add a new one to be centered 
                this.__underyling_inner_div.parentNode.removeChild(this.__underyling_inner_div)
                this.__underyling_inner_div = New("div", { position:"relative", style:{textAlign: "center"} })
                this.__underyling_outer_div.add(this.__underyling_inner_div)
            }
        center(element)
            {
                this.clearMiddle()
                this.__container_centering_status = "centered"
                element.style.position = "absolute"
                element.style.top = "50%"
                element.style.left = "50%"
                element.style.transform = "translate(-50%, -50%)"
                this.__underyling_inner_div.add(element)
            }
        add(...elements) 
            {
                if(this.__container_centering_status == "centered") 
                    {
                        console.error(`So you`)
                        return
                    }
                for (var each in elements)
                    {
                        if (elements[each] instanceof Container) 
                            {
                                this.__underyling_inner_div.appendChild(elements[each].__underyling_outer_div)
                            }
                        else 
                            {
                                this.__underyling_inner_div.appendChild(elements[each])
                            }
                    }
            }
        get asElem()
            {
                return this.__underyling_outer_div
            }
        get width() 
            {
                return this.__underyling_outer_div.style.width
            }
        set width(amount) 
            {
                this.__underyling_outer_div.style.width = amount 
            }
        get height() 
            {
                return this.__underyling_outer_div.style.height
            }
        set height(amount) 
            {
                this.__underyling_outer_div.style.height = amount 
            }
        get id()
            {
                return this.__underyling_outer_div.id
            }
        set id(value)
            {
                this.__underyling_outer_div.id = value
            }
    }
function GetByXpath(path) 
    {
        return document.evaluate(path, document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null).singleNodeValue;
    }
function Center(element)
    {
        element.classList.add('center-align')
    }
function TimerFor(time_amount)
    {
        return new Promise(resolve => 
            {
                setTimeout(()=>{ resolve(null) }, time_amount)
            })
    }
function CenterVertically(element)
    {
        element.parentNode.classList.add('valign-wrapper')
    }


            Main = async function () 
                {
                    LoadPage("Home")
                }
            Main()
        </script>
    </body>
</html>